.slider_css {
    margin-top: 14px  !important;
}

.slider_css .webix_slider_left {
    background-color: #0d8bf2 !important;
}

.slider_css .webix_slider_right {
    background-color: #f3efe7 !important;
}


.webix_gage_label {
    font-size: 12pt !important;
}

.webix_gage_info {
    font-size: 10pt !important;
}

.webix_gage_placeholder {
    font-size: 10pt !important;
}

.webix_gage-value {
    font-size: 16pt !important;
}

.webix_gage_min_range, .webix_gage_max_range {
    display: none;
}